<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{user.username}}
    <h2>First name {{user.first_name}}</h2>
    <h2>Last name {{user.last_name}}</h2>
    <h2>Email {{user.email}}</h2>
    <h2>Address : {{user.profile.address}}</h2>
    <h2>Phone : {{user.profile.phone}}</h2>

    <h1>POSTS</h1>
    <hr />
    <p>{{user.posts.all}}</p>
    {% for post in posts%}
    <h3>POST TILE : {{post.title}}</h3>
    <h3>POST CONTENT : {{post.description}}</h3>
    <img src="{{post.image.url}}" alt="{{post.title}}" />
    <hr />
    {% endfor %}
  </body>
</html>
