<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>First name {{request.user.first_name}}</h2>
    <h2>Last name {{request.user.last_name}}</h2>
    <h2>Email  {{request.user.email}}</h2>

    <h2>Address : {{request.user.profile.address}}</h2>
    <h2>Phone : {{request.user.profile.phone}}</h2>


    <h1>POSTS</h1>
    <hr>
    <p>{{request.user.posts.all}}</p>

    {% for post in request.user.posts.all %}

        <h3>POST TILE : {{post.title}}</h3>
        <h3>POST CONTENT : {{post.description}}</h3>
        <img src="{{post.image.url}}" alt="{{post.title}}">
        <hr>


    {% endfor %}
   
    
</body>
</html>